body{
    margin: 0;
    font-family: sans-serif;
}

.topBar{
    background-color: #262421;
    overflow: hidden;
}
.topBar h2 {
    color:white;
    text-align: center;
}

#filterToggle{
    background-color: lightseagreen;
    color: white;
    border: none;
    margin: 30px 0px;
    padding: 10px 20px;


    font-size: 14px;
}
#filterToggle:hover{
    background-color: rgb(15, 94, 90);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
}

#analysisFilter{
    background-color: rgb(175, 216, 215);
    color: white;
    display: none;
}

.methodSelect {

}

#inputBox {
    padding-left: 5% ;
    padding-right: 5%;
}

#resultsBox{
    background-color:#14868c;
    display: none;
	 padding-top: 1em;
	 padding-bottom: 1em;
}
#resultsBody {
    overflow: hidden;
    background-color: #e6f8f9;
	 width: 95%;
	 margin: auto;
	 padding-top: 1em;
	 padding-bottom: 1em;
}

#resultHeader {
    color: white;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.smallDial {
    border-style: solid;
    border-width: 1px;
    border-color:  #333;
    background-color: #333;
    color: white;

    float: left;
    width: 48%;
    text-align: center;
    margin: 0 1.5% 1.5% 0;
}

.largeDial {
    border-style: solid;
    border-width: 1px;
    border-color:  white;
    color: white;

    width: 95%;
    text-align: center;
    background-color: #333;
    margin: auto;
	 padding: .5em;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
